@model SuperheroManager.Models.Superhero
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Superhero Manager</h1>
    <h4>This app will allow you to build and manage a database of all your favorite superheros.</h4>
    <div class="row" style="height: 500px; background-image:url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2016/05/26/11/Captain-America-Marvel.jpg); background-position-x: 60%; background-position-y: 5%; text-align: left;">
        <div class="col-md-1 h-25"></div>
        <div class="col-md-6" style="margin: auto 0">
            <a href="Superheros" class="btn-primary p-2 p-lg-3" style="border-radius: 8px; border: 1px solid #0026ff">Get Started With Superhero Manager</a>
        </div>
    </div>
    </div>
</div>
